<!DOCTYPE HTML>
<html lang='zh'>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>copy_right</title>
    <style type="text/css">
       footer p{
         background: #ddd;
       }
       main{
         min-height: calc(100vh - 2.5em - 7em);
         box-sizing: border-box;
         background-color: green;
       }
    </style>
  </head>
  <body>
    <header>Site name</header>
    <main>
       <p>Bacon IPsum dolor sit amet ...</p>
       <p>Bacon IPsum dolor sit amet ...</p>
       <p>Bacon IPsum dolor sit amet ...</p>
       <p>Bacon IPsum dolor sit amet ...</p>
    </main>
    <footer>
      <p>	&copy; 2015 NO rights reserverd. </p>
      <p>Made with ❤ by a anonymous pastafarian</p>
    </footer>
  </body>
</html>
