<!DOCTYPE HTML>
<html lang='zh'>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>copy_right</title>
    <style type="text/css">
      body{
       display: flex;
       flex-flow: column;
       min-height: 100vh;
     }
     main{
       flex: 1;
     }
    </style>
  </head>
  <body>
    <header>Site name</header>
    <main>
       <p>Bacon IPsum dolor sit amet ...</p>
       <p>Bacon IPsum dolor sit amet ...</p>
       <p>Bacon IPsum dolor sit amet ...</p>
       <p>Bacon IPsum dolor sit amet ...</p>
    </main>
    <footer>
      <p>	&copy; 2015 NO rights reserverd. </p>
      <p>Made with ❤ by a anonymous pastafarian</p>
    </footer>
  </body>
</html>
